@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  font-size: 16px;
}

ul#todos-lembretes {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#todos-lembretes > .card-lembrete {
  display: inline-block;
  list-style: none!important;
  border: 1px solid #FF718D;
  border-radius: 15px;
  min-width: 250px;
  min-height: 250px;
  max-width: 350px;
  max-height: 350px;

  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;

  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

div.centralize {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.adicionar-lembrete {
  border: 1px solid #FF718D;
  padding: 10px;
  background: none;
  border-radius: 20px;
  position: relative;
  top: 35px;
  left: 47%;
  transition: ease-in 0.2s;
}

button.adicionar-lembrete:hover {
  cursor: pointer;
  background-color: #FF718D;
  color: white;
}

li.card-lembrete a {
  color: black;
  display: block;
  margin-left: 100%;
}

li.card-lembrete h3 {
  display: inline;
  max-width: 88%;
}

a.deletar-lembrete:hover {
  color: #FF718D;
  cursor: pointer;
}


/* ESTILIZANDO FORMULÁRIO PARA CRIAR LEMBRESTES*/
h1.titulos {
  display: block;
  text-align: center;
  border-bottom: 3px solid #FF718D;
  margin-bottom: 5px;
}

form#criando-lembrete {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

form#criando-lembrete label {
  font-size: 1.5rem;
}

form#criando-lembrete input {
  border-radius: 20px;
  line-height: 30px;
  border: 1px solid #FF718D;
  padding: 5px;
}

form#criando-lembrete textarea {
  border-radius: 20px;
  border: 1px solid #FF718D;
  padding: 9px;
  height: 100px;
}

form#criando-lembrete button {
  border: 1px solid #FF718D;
  width: 50%;
  padding: 8px;
  background: none;
  border-radius: 20px;
  margin: 20px auto;
  transition: ease-in 0.2s;
}
form#criando-lembrete button:hover {
  background-color: #FF718D;
  color: white;
  cursor: pointer;
  
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 