{% extends './base.html' %}

{% block content %}
    <h1 class="titulos">Meus lembretes</h1>
    <ul id="todos-lembretes">
        {% for lembrete in lembretes %}
            <li class="card-lembrete">
                <a href="{% url 'remover_lembrete' lembrete.id %}" class="deletar-lembrete"><i class="fa-solid fa-trash"></i></a>
                <h3 class="titulo-lembrete">{{ lembrete.title }}</h3>
                <p class="texto-lembrete">{{ lembrete.text }}</p>
            </li>
        {% empty %}
            <span>Nenhum lembrete encontrado. Se já adicionou algum lembrete atualize a página ou aperte "F5"</span>
        {% endfor %}
    </ul>
    {% if total_lembretes == 12 %}
        <div class="centralize">
            <span>Delete alguns lembretes para adicionar mais</span>
        </div>
    {% else %}
        <button class="adicionar-lembrete" onclick="abrirPopup()">Adicionar Lembrete</button>
    {% endif %}
{% endblock %}
