{% extends './base.html' %}

{% block content %}
    <h1>Meus lembretes:</h1>
    <div id="todos-lembretes" class="row">
        {% for lembrete in lembretes %}
            <div class="card-lembrete col-4">
                <h3 class="titulo-lembrete">{{ lembrete.title }}</h3>
                <p class="texto-lembrete">{{ lembrete.text }}</p>
            </div>
        {% empty %}
            <span>Nenhuma nota encontrada.</span>
        {% endfor %}
    </div>
    <button class="adicionar-lembrete" onclick="abrirPopup()">Adicionar Lembrete</button>
{% endblock %}
